{{ define "main" }}

<div class="d-flex flex-column align-items-center">
    <h2 class="p-1 ">
        <u>{{ .Title }}</u>
    </h2>
</div>
<div class="d-flex flex-column justify-content-around align-items-center">

    {{ range $post_index, $post := .Pages.ByWeight  }}
    <div class="col-sm-12 {{ if not (eq $post_index 0) }}border-top{{ end }}">
        <div class="card text-center border-light">
            <div class="card-body">
                <h3 class="card-title h4">{{ .Title }}</h3>
                {{ if .Params.Arguments }}
                <h4 class="card-subtitle mb-2 text-muted h6">
                    {{ range $index, $argument := .Params.Arguments }}
                    {{ if not (eq $index 0) }}/{{ end }}
                    {{ $argument }}
                    {{ end }}
                </h4>
                {{ end }}
                <a href="{{ .RelPermalink }}" class="card-link">Read</a>
            </div>
        </div>
    </div>
    {{ end }}

</div>

{{ end }}