{{ define "main" }}

<div class="container">
    <div class="row">
        {{ with $.Site.Params.sections }}
        {{ range . }}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div
                class="card text-center bg-light border-dark card-width p-3 mb-3">
                <a href="/{{ . | urlize }}">
                    <img src="img/logos/{{ . }}.svg"
                        class="card-img-top card-img-custom" alt="...">
                </a>
                <div class="card-body">
                    <h3 class="h4 card-title">{{ . }}</h3>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>

{{ end }}